.playlist {
    display: flex;
    gap: var(--unit);
    flex-wrap: wrap;
    align-content: center;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    word-spacing: var(--word-spacing);
    height: 100%;
    overflow: auto;
    line-height: 1;
}

.playlistItem {
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
}

.artistsWrapper {
    font-size: var(--font-size-small);
    letter-spacing: 0;
    word-spacing: 0;
    font-weight: 300;
    opacity: 0.4;
    display: flex;
    gap: var(--unit);
}

.artists {
    display: flex;
    flex-wrap: wrap;
}