.input {
    --secondary-color-alpha: 0.8;
    background-color: var(--secondary-color);
    margin-bottom: var(--unit);
    padding: var(--unit);
    border: none;
    color: var(--primary-color);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    text-transform: uppercase;
    font-size: var(--font-size-large);
    letter-spacing: var(--letter-spacing-large);
    word-spacing: var(--word-spacing-large);
}

.input:focus {
    outline: none;
}
