:root {
    --primary-color: #fff;
    --secondary-color: #222;
    --unit: 8px;
    --font-family: 'Gill Sans', sans-serif;

    --font-size-small: 8px;
    --letter-spacing-small: calc(var(--font-size-small) / 5);
    --word-spacing-small: calc(var(var(--font-size-small) / 2));

    --font-size: 25px;
    --letter-spacing: calc(var(--font-size) / 5);
    --word-spacing: calc(var(var(--font-size) / 2));

    --font-size-large: 50px;
    --letter-spacing-large: calc(var(--font-size-large) / 5);
    --word-spacing-large: calc(var(var(--font-size-large) / 2));

    --font-weight: 700;
}

@media (min-width: 800px) {
    :root {
        --unit: 16px;
        --font-size-small: 10px;
        --font-size: 50px;
        --font-size-large: 100px;
        --font-weight: 900;
    }
}

* {
    box-sizing: border-box;
    text-transform: uppercase;
    animation: fadein 1000ms;
    transition: all 300ms ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html,
body,
#__next {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

html{
    opacity: 1;
    background-color: #222;
}

body {
    padding: var(--unit);
    margin: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: var(--font-family);
        font-family: var(--font-family);
            font-weight: var(--font-weight);
            text-transform: uppercase;
            font-size: var(--font-size);
            letter-spacing: var(--letter-spacing);
            word-spacing: var(--word-spacing);
}

button {
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--unit);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    text-transform: uppercase;
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    word-spacing: var(--word-spacing);
    cursor: pointer;
    opacity: 1;
    width: 100%;
}

*:has(button:hover) {
    --primary-color: #222;
    --secondary-color: #fff;
}

*:has(a:hover) {
    --primary-color: #222;
    --secondary-color: #fff;
}


ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a:link, a:focus, a:hover, a:visited{
    color: var(--primary-color);
        font-family: var(--font-family);
        text-decoration: none;
        text-align: center;
}